body{
    margin: 0;
    padding: 0;
    background: url(a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.row{display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
}
.colom{
    padding: 20px 50px;
    flex-grow:1;
    flex-basis:100%;
    margin:0px 20px;
}



.a{
    background: blue;
    height : border-box;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.formbox{
    color: black;
    background: rgba(213, 52, 235,.3);
}




.formbox input[type = number]{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    background: white;
    border: black;
    border-bottom-style: solid;
    background: transparent;
}

.formbox input[type = "submit"]{
    width: 640px;
    align-self: center;
    color: #ffffff;
    background: darkmagenta;
    font-weight: bold;
    border: darkmagenta;
}
#dsds{
    text-align: center;
}
.det{
    height: 35%;
    margin: 20px;
    padding: 20px;
    background: rgba(230, 9, 31,.5);
    color: white;
    font-size: large;
}
.result{
    height: 25%;
    margin: 20px 5px;
    padding: 20px 5px;
    background: rgba(95, 5, 230,.4);
    color: white;
    font-size: large;
    text-align: center;

}
footer{
    background: black;
    padding: 5px;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
